# Fyne-Cross
fyne-cross/
.cache/
.config/

# Go workspace file
go.work
go.work.sum

# Editor/IDE
.idea/
.vscode/

# Test image files
internal/imageutil/*.png
internal/imageutil/*.jpg
internal/imageutil/*.gif

# Log files
*.log